/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 20px;
    padding: 15px 28px;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background: #f13961;
}


.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

header, #hot-deal {
    background-color: rgba(229, 84, 115, 0.10);
}

/* header section styles */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner .banner-text h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 900;
    line-height: normal;
}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
}

/* main section styles */
#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.section-content .flower .flower-img {
    background-color: #eb9cad;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-img img {
    width: 100%;
}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background: rgba(5, 151, 160, 0.15);
}

.section-content .flower .green {
    background: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.service-container {
    background: rgba(39, 39, 39, 0.05);
    padding: 100px 86px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.service {
    align-items: center;
    text-align: center;
}

.service-container .service .service-img {
    margin-bottom: 20px;
    width: 100%;
}

.service-container .service h3 {
    color: #272727;
    font-size: 18px;
    font-weight: 500;
}

.hot-deal-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px; 
    padding: 80px 0;
}

#hot-deal .hot-deal-text {
    max-width: 550px;
    width: 75%;
    text-align: center;
}

#hot-deal .hot-deal-text * {
    margin-bottom: 24px;
}

#hot-deal .hot-deal-text h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

#hot-deal .hot-deal-img {
    max-width: 318px;
}

#hot-deal .hot-deal-text h2 .important {
    color: #E55473;
}

.insta {
    margin-top: 120px;
}

.insta-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.insta-img .flower img {
    max-width: 100%;
    height: auto;
    display: block;
}

#newsletter {
    margin: 128px 0;
}

.newsletter-bg {
    background-image: url('../images/newsletter-bg.png');
    padding: 122px 0;
}

#newsletter form {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    gap: 5px;
}

#newsletter form input {
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    outline: 1px solid #eb9cad;
}